<div class="container">
  <div class="row">
    <div class="span2 profile-pic">
      <%= image_tag asset_path("profile_pic.jpg"), height: 640, width: 640%>
    </div>
    <div class="span4">
      <blockquote>
        <p>Amit Acharya</p>
        <small><cite title="Source Title">Bangalore, India  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> amitach@gmail.com <br>
        <i class="icon-globe"></i> www.amitacharya.com <br>
        <i class="icon-gift"></i> May 19, 1988
        <i class="icon-gift"></i> SDE with Infibeam.com
      </p>
    </div>
  </div>
</div>


<div class="center hero-unit">
  <h3 style="text-align:left">Technical Blogs</h3>
  <hr>
  <ul class="home-page-lists">
    <li>
   <img src="http://lorempixum.com/100/100/nature/1" style="float:left; clear:both;">
    <h3><%= link_to 'Ruby on Rails', "http://amit-rubyonrails.blogspot.in/" %></h3>
     <%= link_to 'Ruby on Rails, MVC, install ruby and sample rails app', "http://amit-rubyonrails.blogspot.in/" %>
     <p>At the core of Rails is the Model, View, Controller architecture...</p>
    </li>
    <hr>
    <li>
    <img src="http://lorempixum.com/100/100/nature/2">
      <h3><%= link_to 'Pony Gem', "http://amit-ror-tips.blogspot.in/2013/03/ruby-on-rails-sending-mails-easily.html" %>  </h3>
     <%= link_to 'Ruby on Rails, Send emails easily using pony gem', "http://amit-ror-tips.blogspot.in/2013/03/ruby-on-rails-sending-mails-easily.html" %>  
      <p>Send emails using pony gem</p>
     </li>
     <hr>
    <li>
     <img src="http://lorempixum.com/100/100/nature/3">
      <h3><%= link_to 'Postfix to send emails', "http://postfix-gmail.blogspot.in/2013/03/using-postfix-to-use-gmail-as-smtp-relay.html" %></h3>
     <%= link_to 'Using Postfix to relay mails to gmail', "http://postfix-gmail.blogspot.in/2013/03/using-postfix-to-use-gmail-as-smtp-relay.html" %>
      <p>Configure postfix as smtp server to relay emails to gmail</p>
     </li>
     <hr>
     <li>
     <img src="http://lorempixum.com/100/100/nature/4">
      <h3><%= link_to 'Metaprogramming Ruby', "http://metaprogrammingruby.blogspot.in/" %></h3>
     <%= link_to 'MetaProgramming in ruby with concepts like open classes etc', "http://metaprogrammingruby.blogspot.in/" %>
      <p>Metaprogramming concepts in ruby, open classes...</p>
     </li>
     <hr>
  </ul>
  
  <%#= link_to "Sign up now!", '#', class: "sign-up btn btn-large btn-primary" %>
</div>


